@{
    Layout = "~/Views/Shared/_Layout_Front.cshtml";
}
 <div class="owl-carousel-wrapper">

      

      <div class="box-92819">
        <h1 class="text-white mb-3">About Us</h1>
        <p class="lead text-white">"Uniting passion with purpose—our journey is about creating meaningful change and ensuring that every voice contributes to a brighter future."</p>
    </div>

      
        <div class="ftco-cover-1 overlay" style="background-image: url('/images/hero_2.jpg');"></div>
      
    </div>
    
    
    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <img src="/images/img_2.jpg" alt="Image" class="img-fluid">
          </div>
          <div class="col-md-5 ml-auto">
            <h3 class="text-cursive mb-4">Our Mission</h3>
                <h5>What We Do</h5>
                <p>Our diverse range of programs and initiatives, including community health clinics, scholarship programs, and environmental 
                    conservation efforts, are designed to address critical needs and foster long-term development tailored to the unique needs 
                    of each community we serve. We actively engage in advocacy to influence policy and raise awareness about important issues, 
                    partnering with local leaders and organizations to drive systemic change and amplify marginalized voices..</p>
                <p><a asp-action="AddContact" asp-controller="ContactUs" class="btn btn-primary rounded-0 px-4">Contact Us</a></p>
          </div>
        </div>
      </div>
    </div>
    
    <div class="site-section">
      <div class="container">
        <div class="row mb-5 justify-content-center">
          <div class="col-md-6 text-center mb-5">
            <h2 class="text-cursive">Our Team</h2>
          </div>
        </div>
        <div class="row align-items-stretch">

          <div class="col-lg-4 col-md-6 mb-5">
            <div class="post-entry-1 h-100 bg-white text-center">
              <a href="#" class="d-inline-block">
                <img src="/images/person_1.jpg" alt="Image"
                 class="img-fluid">
              </a>
              <div class="post-entry-1-contents">
               
                        <h2>Jane Smith</h2>
                        <h6>Executive Director </h6>
                        <p>
                            Oversees the overall operations, strategic direction, and financial health of the organization.
                        </p>
                    </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mb-5">
            <div class="post-entry-1 h-100 bg-white text-center">
              <a href="#" class="d-inline-block">
                <img src="/images/person_2.jpg" alt="Image"
                 class="img-fluid">
              </a>
              <div class="post-entry-1-contents">
                
                        <h2>Jessica Nguyen</h2>
                        <h6>Volunteer Coordinator </h6>
                        <p>
                            Recruits, trains, and manages volunteers, ensuring they are effectively utilized and supported.
                        </p>
                    </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-5">
            <div class="post-entry-1 h-100 bg-white text-center">
              <a href="#" class="d-inline-block">
                <img src="/images/person_3.jpg" alt="Image"
                 class="img-fluid">
              </a>
              <div class="post-entry-1-contents">
               
                        <h2> Laura Brown</h2>
                        <h6>IT Specialist </h6>
                        <p>
                            Manages technology infrastructure, including website maintenance, databases, and digital security.
                        </p>
                    </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-5">
            <div class="post-entry-1 h-100 bg-white text-center">
              <a href="#" class="d-inline-block">
                <img src="/images/person_4.jpg" alt="Image"
                 class="img-fluid">
              </a>
              <div class="post-entry-1-contents">
               
                        <h2>James Wilson</h2>
                        <h6>Operations Manager</h6>
                        <p>
                            Manages the day-to-day operations and logistics of the organization, including office management and staff support.
                        </p>
                    </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-5">
            <div class="post-entry-1 h-100 bg-white text-center">
              <a href="#" class="d-inline-block">
                <img src="/images/person_5.jpg" alt="Image"
                 class="img-fluid">
              </a>
              <div class="post-entry-1-contents">
                      
                        <h2>Sarah Lee</h2>
                        <h6>Executive Director </h6>
                        <p>
                            Oversees the overall operations, strategic direction, and financial health of the organization.
                        </p>
                    </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-5">
            <div class="post-entry-1 h-100 bg-white text-center">
              <a href="#" class="d-inline-block">
                <img src="/images/person_1.jpg" alt="Image"
                 class="img-fluid">
              </a>
              <div class="post-entry-1-contents">
               
                        <h2>Alex Morgan</h2>
                        <h6>Director of Communications </h6>
                        <p>
                            Handles public relations, media outreach, and manages the organization’s messaging and branding.
                        </p>
                    </div>
            </div>
          </div>


        </div>
      </div>
    </div>
    <div class="site-section">
      <div class="container">
        
        <div class="row mb-5 align-items-st">
          <div class="col-md-4">
            <div class="heading-20219">
              <h2 class="title text-cursive">Latest Causes</h2>
            </div>
          </div>
          <div class="col-md-8">
                <p>It's not how much we give but how much love we put into giving ~Mother Teresa</p>
            </div>
        </div>

        <div class="row">
          <div class="col-md-4">
              <div class="cause shadow-sm">
              
                <a href="#" class="cause-link d-block">
                        <img src="/images/img_1.jpg" alt="Image" class="img-fluid">
                        <div class="custom-progress-wrap">
                    <span class="caption">80% complete</span>
                    <div class="custom-progress-inner">
                      <div class="custom-progress bg-danger" style="width: 80%;"></div>
                    </div>
                  </div>
                </a>

                <div class="px-3 pt-3 border-top-0 border border shadow-sm">
                  <span class="badge-danger py-1 small px-2 rounded mb-3 d-inline-block">School</span>
                        <h3 class="mb-4"><a href="#">Knowledge is power and an awareness </a></h3>
                        <div class="border-top border-light border-bottom py-2 d-flex">
                    <div>Donated</div>
                    <div class="ml-auto"><strong class="text-primary">$32,919</strong></div>
                  </div>

                  <div class="py-4">
                    <div class="d-flex align-items-center">
                                <img src="~/images/images/person_8.jpg" alt="Image" class="rounded-circle mr-3" width="50">
                                <div class=""> Emily Davis</div>
                            </div>
                  </div>
                </div>
              
              </div>
          </div>
          <div class="col-md-4">
            
            <div class="cause shadow-sm">
              
                <a href="#" class="cause-link d-block">
                        <img src="/images/img_3.jpg" alt="Image" class="img-fluid">
                        <div class="custom-progress-wrap">
                    <span class="caption">80% complete</span>
                    <div class="custom-progress-inner">
                      <div class="custom-progress bg-primary" style="width: 80%;"></div>
                    </div>
                  </div>
                </a>

                <div class="px-3 pt-3 border-top-0 border border shadow-sm">
                  <span class="badge-primary py-1 small px-2 rounded mb-3 d-inline-block">Health</span>
                        <h3 class="mb-4"><a href="#">The food we eat should be a source of health.</a></h3>
                        <div class="border-top border-light border-bottom py-2 d-flex">
                    <div>Donated</div>
                    <div class="ml-auto"><strong class="text-primary">$32,919</strong></div>
                  </div>

                  <div class="py-4">
                    <div class="d-flex align-items-center">
                                <img src="/images/person_1.jpg" alt="Image" class="rounded-circle mr-3" width="50">
                                <div class="">Michael Pollan</div>
                            </div>
                  </div>
                </div>
              
              </div>

          </div>
          <div class="col-md-4">
            
            <div class="cause shadow-sm">
              
                <a href="#" class="cause-link d-block">
                  <img src="/images/img_2.jpg" alt="Image" class="img-fluid">
                  <div class="custom-progress-wrap">
                    <span class="caption">80% complete</span>
                    <div class="custom-progress-inner">
                      <div class="custom-progress bg-warning" style="width: 80%;"></div>
                    </div>
                  </div>
                </a>

                <div class="px-3 pt-3 border-top-0 border border ">
                  <span class="badge-warning py-1 small px-2 rounded mb-3 d-inline-block">Livelihood</span>
                        <h3 class="mb-4"><a href="#">Housing is not just a place to live, it is a right</a></h3>
                        <div class="border-top border-light border-bottom py-2 d-flex">
                    <div>Donated</div>
                    <div class="ml-auto"><strong class="text-primary">$32,919</strong></div>
                  </div>

                  <div class="py-4">
                    <div class="d-flex align-items-center">
                      <img src="/images/person_4.jpg" alt="Image" class="rounded-circle mr-3" width="50">
                                <div class="">johnson Mandela</div>
                            </div>
                  </div>
                </div>
              
              </div>

          </div>
        </div>
      </div>
    </div>

    


    <div class="site-section">
      <div class="container">
        
            <div class="d-md-flex cta-20101 align-self-center bg-light p-5">
              <div class=""><h2 class="text-cursive">Helping the Homeless, Hungry, and Hurtings Children</h2></div>
              <div class="ml-auto"><a asp-action="AddDonation" asp-controller="Donations" class="btn btn-primary">Donate Now</a></div>
            </div>
        
      </div>
    </div>
    
   