@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    Layout = "~/Views/Shared/_Layout_Front.cshtml";
}

<div class="owl-carousel-wrapper">



    <div class="box-92819">
        <h1 class="text-white mb-3">Our Achievements</h1>
        <p class="lead text-white">Your achievements today are the foundation for tomorrow’s successes.</p>
    </div>


    <div class="ftco-cover-1 overlay" style="background-image: url('/images/hero_1.jpg');"></div>

</div>
<div class="featured-section overlay-color-2" style="background-image: url('~/images/images/bg_3.jpg');">
    <br><br>
    <div class="container">
        <div class="row">

            <div class="col-md-6">
                <img src="~/images/images/bg_3.jpg" alt="Image placeholder" class="img-fluid">
            </div>

            <div class="col-md-6 pl-md-5">
                <span class="featured-text d-block mb-3">Success Stories</span>
                <h2>Water Is Life. We Successfuly Provide Clean Water in South East Asia</h2>
                <p class="mb-3">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                <span class="fund-raised d-block mb-5">We have raised $100,000</span>


            </div>

        </div>
    </div>
</div>


<div class="site-section bg-light">
    <div class="container">


        <div class="row">
          
            <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-4 mb-lg-0">
                <div class="post-entry">
                    <a href="blog-single.html" class="mb-3 img-wrap">
                        <img src="~/images/images/volunteer.jpg" alt="Image placeholder" class="img-fluid">
                    </a>
                    <h3><a href="#">Be A Volunteer Today</a></h3>
                    <span class="date mb-4 d-block text-muted">July 26, 2018</span>
                    <p>Volunteers do not necessarily have the time; they just have the heart.</p>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-4 mb-lg-0">
                <div class="post-entry">
                    <a href="blog-single.html" class="mb-3 img-wrap">
                        <img src="~/images/images/img_4.jpg" alt="Image placeholder" class="img-fluid">
                    </a>
                    <h3><a href="#">Human Rights</a></h3>
                    <span class="date mb-4 d-block text-muted">July 26, 2018</span>
                    <p>Advocated for and protected human rights, including gender equality and anti-trafficking measure.</p>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-4 mb-lg-0">
                <div class="post-entry">
                    <a href="blog-single.html" class="mb-3 img-wrap">
                        <img src="~/images/images/justice2.jpg" alt="Image placeholder" class="img-fluid">
                    </a>
                    <h3><a href="#">Social Justice</a></h3>
                    <span class="date mb-4 d-block text-muted">July 26, 2018</span>
                    <p>Championed causes related to social justice, including fighting discrimination.</p>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-4 mb-lg-0">
                <div class="post-entry">
                    <a href="blog-single.html" class="mb-3 img-wrap">
                        <img src="~/images/images/img_1.jpg" alt="Image placeholder" class="img-fluid">
                    </a>
                    <h3><a href="#">Education</a></h3>
                    <span class="date mb-4 d-block text-muted">July 26, 2018</span>
                    <p>Improved literacy rates and increased access to education in underserved regions.</p>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-4 mb-lg-0">
                <div class="post-entry">
                    <a href="blog-single.html" class="mb-3 img-wrap">
                        <img src="~/images/images/img_5.jpg" alt="Image placeholder" class="img-fluid">
                    </a>
                    <h3><a href="#">You May Save A Child</a></h3>
                    <span class="date mb-4 d-block text-muted">July 26, 2018</span>
                    <p>Enhanced public health through vaccination programs and medical care.</p>
                   
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-4 mb-lg-0">
                <div class="post-entry">
                    <a href="blog-single.html" class="mb-3 img-wrap">
                        <img src="~/images/images/img_6.jpg" alt="Image placeholder" class="img-fluid">
                    </a>
                    <h3><a href="#">Children  Needs Care</a></h3>
                    <span class="date mb-4 d-block text-muted">July 26, 2018</span>
                    <p>Support groups offering low-cost medical care and mental health services.</p>
                </div>
            </div>


            <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-4 mb-lg-0">
                <div class="post-entry">
                    <a href="blog-single.html" class="mb-3 img-wrap">
                        <img src="~/images/images/ourteam3.jpg" alt="Image placeholder" class="img-fluid">
                    </a>
                    <h3><a href="#">Community Development</a></h3>
                    <span class="date mb-4 d-block text-muted">July 26, 2018</span>
                    <p>Facilitated infrastructure development and local empowerment projects to improve living conditions.</p>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-4 mb-lg-0">
                <div class="post-entry">
                    <a href="blog-single.html" class="mb-3 img-wrap">
                        <img src="~/images/images/donation2.jpg" alt="Image placeholder" class="img-fluid">
                    </a>
                    <h3><a href="#">Poverty Alleviation</a></h3>
                    <span class="date mb-4 d-block text-muted">July 26, 2018</span>
                    <p>Provided resources and support to lift communities out of poverty through economic development and social services.</p>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-4 mb-lg-0">
                <div class="post-entry">
                    <a href="blog-single.html" class="mb-3 img-wrap">
                        <img src="~/images/images/ourteam1.jpg" alt="Image placeholder" class="img-fluid">
                    </a>
                    <h3><a href="#">Employment Opportunities</a></h3>
                    <span class="date mb-4 d-block text-muted">July 26, 2018</span>
                    <p>Help connect individuals to job opportunities and internships, or support businesses that offer fair wages and work
                        opportunities.</p>
                </div>
            </div>
        </div>
    </div>
</div> <!-- .section -->



