@using E_Project.Models.Data
@model E_Project.Models.Data.Donations

@{
    ViewData["Title"] = "Donations";
}

<h1>Donations</h1>

@* <h4>Donations</h4>
<hr /> *@
<div class="row">
    <div class="col-md-4">
        <form asp-action="Donations" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DName" class="control-label"></label>
                <input asp-for="DName" class="form-control" />
                <span asp-validation-for="DName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DEmail" class="control-label"></label>
                <input asp-for="DEmail" class="form-control" />
                <span asp-validation-for="DEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Causes" class="control-label"></label>
               <span asp-validation-for="Causes" class="text-danger"></span>
                <select asp-for="Causes" class="form-control" asp-items="@Html.GetEnumSelectList<Cause>()">
                    <option value="">--Select Any Cause--</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="DAmount" class="control-label"></label>
                <span asp-validation-for="DAmount" class="text-danger"></span>
                <select asp-for="DAmount" class="form-control" asp-items="@Html.GetEnumSelectList<Amount>()">
                    <option value="">--Select Any Amount--</option>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Make Payment" asp-action="transactions" asp-controller="Web" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
