@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_Layout_Front.cshtml";
}

<div class="owl-carousel-wrapper">



    <div class="box-92819">

        <h1 class="text-white mb-3">Gallery</h1>
        <p class="lead text-white">Explore our gallery to see the real impact of your support through photos and stories from our projects</p>
    </div>
    <div class="ftco-cover-1 overlay" style="background-image: url('/images/hero_1.jpg');"></div>

   

</div>
<br >


<div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
        <div class="card">
            <img src="/images/a1.jpg" class="card-img-top" alt="...">

        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="~/images/images/donation4.jpg" class="card-img-top" alt="...">

        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="/images/a3.jpg" class="card-img-top" alt="...">

        </div>
    </div>
   

</div>

<div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
        <div class="card">
            <img src="/images/b4.jpg" class="card-img-top" alt="...">

        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="/images/b12.jpg" class="card-img-top" alt="...">

        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="~/images/images/aware.jpg" class="card-img-top" alt="...">

        </div>
    </div>
    
</div>
<div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
        <div class="card">
            <img src="/images/b11.jpg" class="card-img-top" alt="...">

        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="~/images/images/aware.jpg" class="card-img-top" alt="...">

        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="/images/b5.jpg" class="card-img-top" alt="...">

        </div>
    </div>
   

</div>


<div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
        <div class="card">
            <img src="/images/b4.jpg" class="card-img-top" alt="...">

        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="/images/b12.jpg" class="card-img-top" alt="...">

        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="~/images/images/aid.jpg" class="card-img-top" alt="...">

        </div>
    </div>
    
</div>