@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_Layout_Front.cshtml";
}

<!DOCTYPE html>
<html lang="en">



<body>
    <div class="owl-carousel-wrapper">



        <div class="box-92819">
            <h1 class="text-white mb-3">Help Center</h1>
           
        </div>


        <div class="ftco-cover-1 overlay" style="background-image: url('/images/hero_2.jpg');"></div>

    </div>
    <div id="FAQ">
       @*  <h2 class="title pt-4">FAQ'S</h2> *@
        <div class="accordian m-5">

            <div class="item">
                <div class="FAQ-title">
                    <p class="faqQuestion">1. What does GiveAid do?</p>
                    <span class="expandToggle">+</span>
                </div>
                <div class="FAQ-content">
                    <p>GiveAid is dedicated to providing education, healthcare, and holistic support services to orphaned and street children in Pakistan.</p>
                </div>
            </div>
            <div class="item">
                <div class="FAQ-title">
                    <p class="faqQuestion">2. What is the purpose of Education Support Program?</p>
                    <span class="expandToggle">+</span>
                </div>
                <div class="FAQ-content">
                    <p>The Education Support Program is designed to provide children with quality education by establishing basic learning centers in undeserved areas of Pakistan.</p>
                </div>
            </div>

            <div class="item">
                <div class="FAQ-title">
                    <p class="faqQuestion">3.How does GiveAid ensure transparency and accountability?</p>
                    <span class="expandToggle">+</span>
                </div>
                <div class="FAQ-content">
                    <p>GiveAid maintains transparency by regularly sharing updates on its programs, finances, and impact through reports, newsletters, and social media channels.</p>
                </div>
            </div>

            <div class="item">
                <div class="FAQ-title">
                    <p class="faqQuestion">4. What is GiveAid Education Program?</p>
                    <span class="expandToggle">+</span>
                </div>
                <div class="FAQ-content">
                    <p> GiveAid Education services uplift the deserving brilliant students and cater their needs at schools, colleges, and universities level under merit based Alfalah Scholarship Program</p>
                </div>
            </div>

            <div class="item">
                <div class="FAQ-title">
                    <p class="faqQuestion">5. What is GiveAid Disaster Management Program?</p>
                    <span class="expandToggle">+</span>
                </div>
                <div class="FAQ-content">
                    <p>
                        An emergency can hit anyplace at any-time, shattering the most vulnerable people and leaving at mercy of fate. GiveAid Foundation responds fast to save lives and protect properties during the emergencies and afterwards at both national and international level.
                    </p>
                </div>
            </div>

            <div class="item">
                <div class="FAQ-title">
                    <p class="faqQuestion">6. What is GiveAid Community Services Program?</p>
                    <span class="expandToggle">+</span>
                </div>
                <div class="FAQ-content">
                    <p>GiveAid Community Program aims at alleviating poverty, vulnerability, malnutrition, and deprivation in the community so that social empowerment finds its way. We are helping the community through equal distribution of food, water, wheelchairs, Eid gifts, Diwali and Christmas gifts, winter packages, Qurbani meat packs, Ramadan packages, and other necessities of life. The community program also comprises the construction of masjids and rehabilitation community welfare centres.</p>
                </div>
            </div>

            <div class="item">
                <div class="FAQ-title">
                    <p class="faqQuestion">7. What is GiveAid Health Foundation?</p>
                    <span class="expandToggle">+</span>
                </div>
                <div class="FAQ-content">
                    <p>
                        GiveAid Health Foundation countrywide holistic healthcare network of hospitals, ambulances, pharmacy shops, medical laboratories and medical units are providing speedy but quality health care at subsidized rates to people who need it in both emergency and day-to-day situations.
                    </p>
                </div>
            </div>

            <div class="item">
                <div class="FAQ-title">
                    <p class="faqQuestion">8. What is the purpose of GiveAid Foundation? </p>
                    <span class="expandToggle">+</span>
                </div>
                <div class="FAQ-content">
                    <p>
                        Service to humanity with integrity without any discrimination on the basis of color, creed and caste.
                    </p>
                </div>
            </div>

            <div class="FAQ-ShowMore">
                <button id="showMoreBtn">Show More</button>
            </div>

        </div>
    </div>
    
</body>

</html>

