@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    Layout = "~/Views/Shared/_Layout_Front.cshtml";
}
<div class="owl-carousel-wrapper">



    <div class="box-92819">
        <h1 class="text-white mb-3">Our Mission</h1>
        <p class="lead text-white">Our goal is to create lasting change by delivering targeted support and fostering resilience 
            in underserved populations</p>
    </div>


    <div class="ftco-cover-1 overlay" style="background-image: url('/images/hero_3.jpg');"></div>

</div>
<div class="site-section border-top">
    <div class="container">
        <div class="row">

            <div class="col-md-4">
                <div class="media block-6">
                    <div class="icon"><span class="ion-ios-bulb"></span></div>
                    <div class="media-body">
                        <h3 class="heading"><u>Our Mission</u></h3>
                        <p> Our mission  is purpose-driven, clearly articulating the primary reason for its existence and linking it to specific social, environmental, or humanitarian goals. It identifies the target beneficiaries who will benefit from its efforts, whether they are underserved communities, specific populations, or global issues. The scope of work details the types of activities or services the organization will engage in to achieve its objectives, such as advocacy, direct service provision, or research.</p>

                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="media block-6">
                    <div class="icon"><span class="ion-ios-bulb"></span></div>
                    <div class="media-body">
                        <h3 class="heading"><u>Mission Statement</u></h3>
                        <p>The International Red Cross and Red Crescent Movement aims to alleviate human suffering and protect life. Greenpeace works to safeguard the Earth’s environment and promote peace. Save the Children focuses on transforming the treatment of children and achieving lasting change in their lives. Doctors Without Borders provides medical care in crisis situations. Amnesty International seeks to prevent and end human rights abuses and demand justice for victims.</p>

                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="media block-6">
                    <div class="icon"><span class="ion-ios-bulb"></span></div>
                    <div class="media-body">
                        <h3 class="heading"><u>Developments</u></h3>
                        <p>
                            Habitat for Humanity: “To build homes, communities, and hope by providing affordable housing and advocating for fair housing policies.”
                            World Wildlife Fund (WWF): “To stop the degradation of the planet’s natural environment and to build a future in which humans live in harmony with nature.”
                        </p>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>



<!-- .section -->
<!-- .featured-donate -->

<div class="site-section bg-light">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-12">
                <h2>Latest News</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-4 mb-lg-0">
                <div class="post-entry">
                    <a href="#" class="mb-3 img-wrap">
                        <img src="~/images/images/img_4.jpg" alt="Image placeholder" class="img-fluid">
                    </a>
                    <h3><a href="#">Be A Volunteer Today</a></h3>
                    <span class="date mb-4 d-block text-muted">July 26, 2018</span>
                    <p>“Service to others is the rent you pay for your room here on earth.” — Muhammad Ali</p>

                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-4 mb-lg-0">
                <div class="post-entry">
                    <a href="#" class="mb-3 img-wrap">
                        <img src="~/images/images/img_5.jpg" alt="Image placeholder" class="img-fluid">
                    </a>
                    <h3><a href="#">You May Save The Life of A Child</a></h3>
                    <span class="date mb-4 d-block text-muted">July 26, 2018</span>
                    <p>“Charity begins at home, but should not end there.” — Thomas Fuller.</p>

                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-4 mb-lg-0">
                <div class="post-entry">
                    <a href="#" class="mb-3 img-wrap">
                        <img src="~/images/images/img_6.jpg" alt="Image placeholder" class="img-fluid">
                    </a>
                    <h3><a href="#">Children That Needs Care</a></h3>
                    <span class="date mb-4 d-block text-muted">July 26, 2018</span>
                    <p>“The smallest act of kindness is worth more than the grandest intention.” — Oscar Wilde</p>

                </div>
            </div>
        </div>
    </div>
</div> <!-- .section -->
