@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    Layout = "~/Views/Shared/_Layout_Front.cshtml";
}
<div class="owl-carousel-wrapper">



    <div class="box-92819">
        <h1 class="text-white mb-3">Our Team</h1>
        <p class="lead text-white">Teamwork makes the dream work.</p>
    </div>


    <div class="ftco-cover-1 overlay" style="background-image: url('/images/hero_2.jpg');"></div>

</div>

        <div class="row mt-5">
            <div class="col-md-12 mb-5 text-center mt-5">
        <h2><b><u>Leadership</u></b></h2>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="block-38 text-center">
                    <div class="block-38-img">
                        <div class="block-38-header">
                            <img src="/images/person_1.jpg" alt="Image placeholder">
                            <h3 class="block-38-heading">Greeg Graham</h3>
                            <p class="block-38-subheading">CEO</p>
                        </div>
                        <div class="block-38-body">
                    <p>The CEO of Give-Aid drives our strategic vision, ensuring that our mission is effectively executed.
                        They lead the organization with a focus on growth, innovation, and impactful change</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="block-38 text-center">
                    <div class="block-38-img">
                        <div class="block-38-header">
                            <img src="/images/person_2.jpg" alt="Image placeholder">
                            <h3 class="block-38-heading">Jennifer Greive</h3>
                            <p class="block-38-subheading">President</p>
                        </div>
                        <div class="block-38-body">
                    <p>The President of Give-Aid champions our cause and represents the organization in strategic discussions and public engagements, 
                        guiding governance and policy to support our mission. </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="block-38 text-center">
                    <div class="block-38-img">
                        <div class="block-38-header">
                            <img src="/images/person_3.jpg" alt="Image placeholder">
                            <h3 class="block-38-heading">Patrick Marx</h3>
                            <p class="block-38-subheading">Marketer</p>
                        </div>
                        <div class="block-38-body">
                    <p>The Marketer at Give-Aid crafts compelling campaigns to raise awareness and support for our initiatives. 
                        They drive engagement and amplify our message to connect with donors and the community. </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="block-38 text-center">
                    <div class="block-38-img">
                        <div class="block-38-header">
                            <img src="/images/person_4.jpg" alt="Image placeholder">
                            <h3 class="block-38-heading">Mike Coolbert</h3>
                            <p class="block-38-subheading">Partner</p>
                        </div>
                        <div class="block-38-body">
                    <p> Our partners are integral to our success, contributing valuable resources and expertise to amplify our impact. 
                        Their collaboration helps us achieve shared objectives and drive meaningful change. </p>
                        </div>
                    </div>
                </div>
            </div>


    <div class="row mt-5">
  
    <div class="col-md-6 col-lg-3">
        <div class="block-38 text-center">
            <div class="block-38-img">
                <div class="block-38-header">
                    <img src="/images/Thorne.jpg" alt="Image placeholder" style="width:90%; height:130%;" />
                        <h3 class="block-38-heading">Thorne</h3>
                    <p class="block-38-subheading">Partner</p>
                </div>
                <div class="block-38-body">
                    <p>
                            Our partners are integral to our success, contributing valuable resources and expertise to amplify our impact.
                          
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-3">
        <div class="block-38 text-center">
            <div class="block-38-img">
                <div class="block-38-header">
                        <img src="/images/Zayven.jpg" alt="Image placeholder" style="width:90%; height:170%;">
                    <h3 class="block-38-heading">Zayven</h3>
                    <p class="block-38-subheading">President</p>
                </div>
                <div class="block-38-body">
                    <p>
                        The President of Give-Aid champions our cause and represents the organization in strategic discussions and public engagements,
                        guiding governance and policy to support our mission.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-3">
        <div class="block-38 text-center">
            <div class="block-38-img">
                <div class="block-38-header">
                        <img src="/images/Indra.jpg" alt="Image placeholder" style="width:90%; height:180%;">
                    <h3 class="block-38-heading">Indra</h3>
                    <p class="block-38-subheading">Marketer</p>
                </div>
                <div class="block-38-body">
                    <p>
                        The Marketer at Give-Aid crafts compelling campaigns to raise awareness and support for our initiatives.
                        They drive engagement and amplify our message to connect with donors and the community.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-3">
        <div class="block-38 text-center">
            <div class="block-38-img">
                <div class="block-38-header">
                        <img src="/images/Brenner.jpg" alt="Image placeholder" style="width:90%; height:137%;">
                    <h3 class="block-38-heading">Brenner</h3>
                    <p class="block-38-subheading">Partner</p>
                </div>
                <div class="block-38-body">
                    <p>
                        Our partners are integral to our success, contributing valuable resources and expertise to amplify our impact.
                        
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

    </div>
</div>
 </div>

    </div>
</div>




    

    

    <div class="owl-carousel owl-1 ">
        <div class="ftco-cover-1 overlay" style="background-image: url('/images/hero_3.jpg');position:relative"></div>
    <div class="ftco-cover-1 overlay" style="background-image: url('/images/hero_2.jpg');"></div>
    <div class="ftco-cover-1 overlay" style="background-image: url('/images/hero_1.jpg');"></div>

    </div>

@* <div class="box-92819">
    <h1 class="text-white mb-3">Latest Update</h1>
   
</div>


<div class="site-section border-top">
    <div class="container">
        <div class="row">

            <div class="col-md-4">
                <div class="media block-6">
                    <div class="icon"><span class="ion-ios-bulb"></span></div>
                    <div class="media-body">
                      
                        <h3 class="heading">Progress Report</h3>
                        <p> We’ve successfully distributed over 1,000 food packages to families in need this month</p>
                        <p><a href="#" class="link-underline">Learn More</a></p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="media block-6">
                    <div class="icon"><span class="ion-ios-cash"></span></div>
                    <div class="media-body">
                        <h3 class="heading">Make Donations</h3>
                        <p>Your donation today can change a life forever."</p>
                        <p><a href="#" class="link-underline">Learn More</a></p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="media block-6">
                    <div class="icon"><span class="ion-ios-contacts"></span></div>
                    <div class="media-body">
                        <h3 class="heading">Upcoming Event</h3>
                        <p>Join us for our annual gala to celebrate achievements and support our future initiatives..</p>
                        <p><a href="#" class="link-underline">Learn More</a></p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div> 
<div class="site-section border-top">
    <div class="container">
        <div class="row">

            <div class="col-md-4">
                <div class="media block-6">
                    <div class="icon"><span class="ion-ios-bulb"></span></div>
                    <div class="media-body">

                        <h3 class="heading">Progress Report</h3>
                        <p> We’ve successfully distributed over 1,000 food packages to families in need this month</p>
                        <p><a href="#" class="link-underline">Learn More</a></p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="media block-6">
                    <div class="icon"><span class="ion-ios-cash"></span></div>
                    <div class="media-body">
                        <h3 class="heading">Make Donations</h3>
                        <p>Your donation today can change a life forever."</p>
                        <p><a href="#" class="link-underline">Learn More</a></p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="media block-6">
                    <div class="icon"><span class="ion-ios-contacts"></span></div>
                    <div class="media-body">
                        <h3 class="heading">Upcoming Event</h3>
                        <p>Join us for our annual gala to celebrate achievements and support our future initiatives..</p>
                        <p><a href="#" class="link-underline">Learn More</a></p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div> *@<!-- .site-section -->
