@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_Layout_Front.cshtml";
}

<div id="blog" class="site-section">
    <div class="container">

        <div class="row">

            <div class="col-md-8">

               
                <h1><b><u>Terms And Conditions</u></b></h1>
                <h6>Last Updated: 12-SEP-2024</h6>
                <ol>
                    <p>  Welcome to Give-Aid ("we," "our," or "us"). By accessing and using our website, www.GiveAid.cpm ("Site"), you agree to comply with and be bound by the following Terms and Conditions ("Terms"). Please read them carefully.</p>
                    <li>
                        1. Acceptance of Terms
                        By using this Site, you agree to these Terms. If you do not agree to these Terms, please do not use the Site.
                    </li>
                    <li>
                        <p>



                            2. Use of the Site
                            You agree to use this Site only for lawful purposes and in a manner that does not infringe the rights of, restrict or inhibit anyone else’s use and enjoyment of the Site. Prohibited conduct includes, but is not limited to, any behavior that is unlawful, threatening, defamatory, or otherwise objectionable.
                        </p>
                    </li>
                    <li>
                        <p>
                            3. Intellectual Property
                            All content on this Site, including text, graphics, logos, images, and software, is the property of Give-Aid or its content suppliers and is protected by applicable intellectual property laws. You may not reproduce, distribute, or use any content from this Site without our prior written consent.
                        </p>
                    </li>
                    <li>
                        <p>
                            4. Donations
                            Donations made through this Site are processed securely. Please review our Privacy Policy for details on how we handle your personal information. All donations are non-refundable unless otherwise stated.
                        </p>
                    </li>
                    <li>
                        5. Volunteering and Employment
                        If you are interested in volunteering or working with us, please refer to our Careers Page for detailed information. Submission of applications or resumes does not guarantee placement or employment.
                    </li>
                    <li>
                        6. Third-Party Links
                        Our Site may contain links to third-party websites. We do not endorse and are not responsible for the content or practices of these third-party sites. Your use of such sites is at your own risk.
                        </p>
                    </li>
                    <li>
                        6. Third-Party Links
                        Our Site may contain links to third-party websites. We do not endorse and are not responsible for the content or practices of these third-party sites. Your use of such sites is at your own risk.
                        </p>
                    </li>
                    <li>
                        7. User Content
                        You may have the opportunity to submit content to our Site, such as comments or feedback. By submitting content, you grant us a non-exclusive, royalty-free, perpetual, and worldwide license to use, reproduce, and display such content on our Site and in promotional materials.
                    </li>
                    <li>
                        8. Disclaimer of Warranties
                        Our Site is provided "as is" and "as available" without any warranties of any kind, either express or implied. We do not warrant that the Site will be uninterrupted or error-free, or that defects will be corrected.
                        </p>
                    </li>
                    <li>
                        9. Limitation of Liability
                        To the fullest extent permitted by law, Give-Aid shall not be liable for any indirect, incidental, special, consequential, or punitive damages arising from your use of the Site.
                    </li>
                    <li>
                        10. Changes to Terms
                        We may update these Terms from time to time. We will notify you of any significant changes by posting the new Terms on this Site. Your continued use of the Site following the posting of changes constitutes your acceptance of such changes.
                    </li>
                    <li>
                        11. Governing Law
                        These Terms are governed by and construed in accordance with the laws, without regard to its conflict of law principles.
                    </li>
                    <li>
                        12. Contact Information
                        If you have any questions or concerns about these Terms, please contact us at:
                    </li>
                    <li>
                        <p>



                            www.GiveAid.com
                            North Nazimabad, near North Walk.
                            giveaid@gmail.com
                            021-333-111-899
                        </p>
                    </li>





                    <p>
                        <img src="images/image_10.jpg" alt="" class="img-fluid">
                    </p>
                    <p>



                </ol>

                  @*   <div class="tag-widget post-tag-container mb-5 mt-5">
                        <div class="tagcloud">
                            <a href="#" class="tag-cloud-link">Charities</a>
                            <a href="#" class="tag-cloud-link">Donation</a>
                            <a href="#" class="tag-cloud-link">Child</a>
                            <a href="#" class="tag-cloud-link">School</a>
                        </div>
                    </div>
 *@
            </div>

        </div>


    </div>
</div>















