@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_Layout_Front.cshtml";
}

<div class="owl-carousel-wrapper">



    <div class="box-92819">
        <h1 class="text-white mb-3">Testimonial</h1>
        <p class="lead text-white">Together, we create lasting change and build a better future for all</p>
    </div>


    <div class="ftco-cover-1 overlay" style="background-image: url('/images/hero_2.jpg');"></div>

</div>


<div class="site-section">
    <div class="container">
        <div class="heading-20219 mb-5">
            <h2 class="title text-cursive">Latest Feedback</h2>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="event-29191 mb-5">
                    <a href="#" class="d-block mb-3"><img src="/images/img_1.jpg" alt="Image" class="img-fluid rounded"></a>
                    <div class="px-3 d-flex">

                        <div class="bg-primary p-3 d-inline-block text-center rounded mr-4 date">
                            <span class="text-white h3 m-0 d-block">22</span>
                            <span class="text-white small">Jan 2024</span>
                        </div>

                        <div>
                            <div class="mb-3">
                                <span class="mr-3"> <span class="icon-bookmark mr-2 text-muted"></span><a href="#">Feedback by </a>, <a href="#">Beneficiary</a></span>
                                <span> <span class="icon-person mr-2 text-muted"></span>Sammy</span>
                            </div>
                            <h3>
                                <a href="#">
                                    Thanks to Give-Aid, I now have the skills and confidence to support my family.
                                    Their support has changed my life.
                                </a>
                            </h3>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="event-29191 mb-5">
                    <a href="#" class="d-block mb-3"><img src="/images/img_2.jpg" alt="Image" class="img-fluid rounded"></a>
                    <div class="px-3 d-flex">

                        <div class="bg-primary p-3 d-inline-block text-center rounded mr-4 date">
                            <span class="text-white h3 m-0 d-block">19</span>
                            <span class="text-white small">Aug 2024</span>
                        </div>

                        <div>
                            <div class="mb-3">
                                <span class="mr-3"> <span class="icon-bookmark mr-2 text-muted"></span><a href="#">Feedback by</a>, <a href="#">Donar</a></span>
                                <span> <span class="icon-person mr-2 text-muted"></span>James Smith</span>
                            </div>
                            <h3><a href="#">Ratione Delectus Assumenda Rem Modi Quaerat Laborum</a></h3>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="event-29191 mb-5">
                    <a href="#" class="d-block mb-3"><img src="/images/a1.jpg" alt="Image" class="img-fluid rounded"></a>
                    <div class="px-3 d-flex">

                        <div class="bg-primary p-3 d-inline-block text-center rounded mr-4 date">
                            <span class="text-white h3 m-0 d-block">15</span>
                            <span class="text-white small">Oct 2024</span>
                        </div>

                        <div>
                            <div class="mb-3">
                                <span class="mr-3"> <span class="icon-bookmark mr-2 text-muted"></span><a href="#">Feedback by</a>, <a href="#">Volunteer</a></span>
                                <span> <span class="icon-person mr-2 text-muted"></span>Alis</span>
                            </div>
                            <h3><a href="#">Ratione Delectus Assumenda Rem Modi Quaerat Laborum</a></h3>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="event-29191 mb-5">
                    <a href="#" class="d-block mb-3"><img src="/images/a2.jpg" alt="Image" class="img-fluid rounded"></a>
                    <div class="px-3 d-flex">

                        <div class="bg-primary p-3 d-inline-block text-center rounded mr-4 date">
                            <span class="text-white h3 m-0 d-block">07</span>
                            <span class="text-white small">May 2024</span>
                        </div>

                        <div>
                            <div class="mb-3">
                                <span class="mr-3"> <span class="icon-bookmark mr-2 text-muted"></span><a href="#">Feedback by</a>, <a href="#">Partner Organization</a></span>
                                <span> <span class="icon-person mr-2 text-muted"></span>Edward</span>
                            </div>
                            <h3>
                                <a href="#">
                                    The impact of Give-Aid is tangible.
                                    Their programs have brought hope and improved lives in ways we never imagined.
                                </a>
                            </h3>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="event-29191 mb-5">
                    <a href="#" class="d-block mb-3"><img src="/images/a3.jpg" alt="Image" class="img-fluid rounded"></a>
                    <div class="px-3 d-flex">

                        <div class="bg-primary p-3 d-inline-block text-center rounded mr-4 date">
                            <span class="text-white h3 m-0 d-block">22</span>
                            <span class="text-white small">Feb 2024</span>
                        </div>

                        <div>
                            <div class="mb-3">
                                <span class="mr-3"> <span class="icon-bookmark mr-2 text-muted"></span><a href="#">Feedback by</a>, <a href="#">Partner</a></span>
                                <span> <span class="icon-person mr-2 text-muted"></span>Hennery</span>
                            </div>
                            <h3>
                                <a href="#">
                                    Partnering with Give-Aid has been a privilege.
                                    Their innovative programs have made a significant difference in the lives of countless individuals
                                </a>
                            </h3>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="event-29191 mb-5">
                    <a href="#" class="d-block mb-3"><img src="/images/a4.jpg" alt="Image" class="img-fluid rounded"></a>
                    <div class="px-3 d-flex">

                        <div class="bg-primary p-3 d-inline-block text-center rounded mr-4 date">
                            <span class="text-white h3 m-0 d-block">02</span>
                            <span class="text-white small">Sep 2024</span>
                        </div>

                        <div>
                            <div class="mb-3">
                                <span class="mr-3"> <span class="icon-bookmark mr-2 text-muted"></span><a href="#">Feedback by</a>, <a href="#">Volunteer</a></span>
                                <span> <span class="icon-person mr-2 text-muted"></span>Charles</span>
                            </div>
                            <h3>
                                <a href="#">
                                    Volunteering with Give-Aid has been a transformative experience.
                                    Their efforts have revitalized our community and given us renewed hope.
                                </a>
                            </h3>
                        </div>

                    </div>
                </div>
            </div>


            <div class="col-12 text-center">
                <span class="p-3">1</span>
                <a href="#" class="p-3">2</a>
                <a href="#" class="p-3">3</a>
                <a href="#" class="p-3">4</a>
            </div>

        </div>
    </div>
</div>




<div class="site-section">
    <div class="container">

        <div class="d-md-flex cta-20101 align-self-center bg-light p-5">
            <div class=""><h2 class="text-cursive">Helping the Homeless, Hungry, and Hurtings Children</h2></div>
            <div class="ml-auto"><a href="#" class="btn btn-primary">Donate Now</a></div>
        </div>

    </div>
</div>


    -
