@{
    Layout = "~/Views/Shared/_Layout_Front.cshtml";
}
<div class="owl-carousel-wrapper">



    <div class="box-92819">
        <h1 class="text-white mb-3">What We Do!!</h1>
        <p class="lead text-white">We empower communities by providing essential services and suppor.</p>
    </div>


    <div class="ftco-cover-1 overlay" style="background-image: url('/images/hero_3.jpg');"></div>

</div>
<div class="site-section">
    <div class="container">
        <div class="row align-items-center mb-5">

            <div class="col-md-7 order-md-2 mb-5 mb-md-0">
                <img src="~/images/images/aware.jpg" alt="" class="img-fluid">
            </div>

            <div class="col-md-5 pr-md-5 mb-5 order-md-1">
                <div class="block-41">
                    <div class="block-41-subheading d-flex">
                        <div class="block-41-number">Point 01</div>
                    </div>
                    <h2 class="block-41-heading mb-3">Advocacy and Awareness</h2>
                    <div class="block-41-text">
                        <p><ol>
                                <li>
                                    Raise Awareness: We often work to increase public awareness about important issues, such as human rights, environmental protection, and public health.
                                  </li>
                                  <li> Advocacy: They advocate for policy changes and reforms at local, national, and international levels to address systemic issues and promote social justice.</li>
                        </ol></p>
                    </div>
                </div>
            </div>

        </div> <!-- .row -->

        <div class="row align-items-center mb-5">
            <div class="col-md-7 mb-5 mb-md-0">
                <img src="~/images/images/aid.jpg" alt="" class="img-fluid">
            </div>

            <div class="col-md-5 pl-md-5 mb-5">
                <div class="block-41">
                    <div class="block-41-subheading d-flex">
                        <div class="block-41-number">Point 02</div>
                    </div>
                    <h2 class="block-41-heading mb-3">Humanitarian Aid and Relief</h2>
                    <div class="block-41-text">
                        <p>
                            <ol>
                                <li>
                                    Disaster Relief: Provide emergency assistance in the aftermath of natural disasters, including food, shelter, and medical care.
                                </li>
                                <li>Crisis Response: Offer support in conflict zones or during humanitarian crises, including refugee assistance and rehabilitation services.</li>
                            </ol>
                        </p>
                    </div>
                </div>
            </div>

        </div> <!-- .row -->


        <div class="site-section">
            <div class="container">
                <div class="row align-items-center mb-5">

                    <div class="col-md-7 order-md-2 mb-5 mb-md-0">
                        <img src="~/images/images/construction.jpg" alt="" class="img-fluid">
                    </div>


        <div class="col-md-5 pr-md-5 mb-5 order-md-1">
            <div class="block-41">
                <div class="block-41-subheading d-flex">
                    <div class="block-41-number">Point 03</div>
                </div>
                <h2 class="block-41-heading mb-3">Development Projects</h2>
                <div class="block-41-text">
                    <p>
                        <ol>
                            <li>
                                Community Development: Work on projects aimed at improving the quality of life in communities, such as building infrastructure, providing clean water, and supporting local economies.
                            </li>
                            <li> Education: Develop and support educational programs and schools to improve literacy and educational outcomes, especially in underserved areas.</li>
                        </ol>
                    </p>
                </div>
            </div>
        </div>

    </div> <!-- .row -->

                <div class="row align-items-center mb-5">
                    <div class="col-md-7 mb-5 mb-md-0">
                        <img src="~/images/images/services.jpg" alt="" class="img-fluid">
                    </div>

                    <div class="col-md-5 pl-md-5 mb-5">
                        <div class="block-41">
                            <div class="block-41-subheading d-flex">
                                <div class="block-41-number">Point 04</div>
                            </div>
                            <h2 class="block-41-heading mb-3">Health and Medical Services</h2>
                            <div class="block-41-text">
                                <p>
                                    <ol>
                                        <li>
                                            Healthcare: Offer medical services, including clinics, vaccinations, and health education, often focusing on underserved populations.
                                        </li>
                                        <li>Disease Prevention: Work on programs to prevent and treat diseases, such as HIV/AIDS, malaria, and tuberculosis.</li>
                                    </ol>
                                </p>
                            </div>
                        </div>
                    </div>

                </div> <!-- .row -->


                <div class="site-section">
                    <div class="container">
                        <div class="row align-items-center mb-5">

                            <div class="col-md-7 order-md-2 mb-5 mb-md-0">
                                <img src="~/images/images/enviornment.jpg" alt="" class="img-fluid">
                            </div>


                            <div class="col-md-5 pr-md-5 mb-5 order-md-1">
                                <div class="block-41">
                                    <div class="block-41-subheading d-flex">
                                        <div class="block-41-number">Point 05</div>
                                    </div>
                                    <h2 class="block-41-heading mb-3">
                                        Environmental Conservation
                                       
                                    </h2>
                                    <div class="block-41-text">                     
                                        <p>
                                            <ol>
                                                <li>
                                                    Protection: Work to protect natural habitats, endangered species, and biodiversity through conservation projects and advocacy.
                                                    
                                                </li>
                                                <li>
                                                   
                                                    Sustainability: Promote sustainable practices and raise awareness about environmental issues like climate change and pollution.
                                                </li>
                                            </ol>
                                        </p>
                                    </div>
                                </div>
                            </div>

                        </div> <!-- .row -->

                        <div class="row align-items-center mb-5">
                            <div class="col-md-7 mb-5 mb-md-0">
                                <img src="~/images/images/volunteer.jpg" alt="" class="img-fluid">
                            </div>

                            <div class="col-md-5 pl-md-5 mb-5">
                                <div class="block-41">
                                    <div class="block-41-subheading d-flex">
                                        <div class="block-41-number">Point 04</div>
                                    </div>
                                    <h2 class="block-41-heading mb-3">Volunteerism and Community Engagement</h2>
                                    <div class="block-41-text">
                                        <p>
                                            <ol>
                                                <li>
                                                    Volunteering: Engage volunteers in their projects and initiatives, providing opportunities for people to contribute their time and skills.
                                                </li>
                                                <li>
                                                    Community Involvement: Foster community participation and involvement in addressing local issues.
                                                </li>
                                            </ol>
                                        </p>
                                    </div>
                                </div>
                            </div>

                        </div> <!-- .row -->

                        <div class="site-section">
                            <div class="container">
                                <div class="row align-items-center mb-5">

                                    <div class="col-md-7 order-md-2 mb-5 mb-md-0">
                                        <img src="~/images/images/fundraising.jpg" alt="" class="img-fluid">
                                    </div>


                                    <div class="col-md-5 pr-md-5 mb-5 order-md-1">
                                        <div class="block-41">
                                            <div class="block-41-subheading d-flex">
                                                <div class="block-41-number">Point 05</div>
                                            </div>
                                            <h2 class="block-41-heading mb-3">
                                                Fundraising and Resource Mobilization
                                            </h2>
                                            <div class="block-41-text">
                                                <p>
                                                    <ol>
                                                        <li>
                                                            Fundraising: Raise funds through donations, grants, and fundraising events to support their programs and initiatives.
                                                        </li>
                                                        <li>

                                                            Resource Mobilization: Seek and manage resources, including financial support, goods, and services, to effectively carry out their mission.
                                                        </li>
                                                    </ol>
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                </div> <!-- .row -->
                                
                            </div>
</div>