@model E_Project.Models.Data.Partners

@{
    ViewData["Title"] = "AddPartners";
}

<h1 class="text-center fst-italic">AddPartners</h1>

<h4 class="text-center fw-normal text-muted">Partners</h4>
<hr />
<div class="row justify-content-center">
    <div class="col-md-4">
        <form asp-action="AddPartners" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PartnerName" class="control-label"></label>
                <input asp-for="PartnerName" class="form-control" />
                <span asp-validation-for="PartnerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PartnerEmail" class="control-label"></label>
                <input asp-for="PartnerEmail" class="form-control" />
                <span asp-validation-for="PartnerEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PartnerContact" class="control-label"></label>
                <input asp-for="PartnerContact" class="form-control" />
                <span asp-validation-for="PartnerContact" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PartnershipSDate" class="control-label"></label>
                <input asp-for="PartnershipSDate" class="form-control" />
                <span asp-validation-for="PartnershipSDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PartnershipEDate" class="control-label"></label>
                <input asp-for="PartnershipEDate" class="form-control" />
                <span asp-validation-for="PartnershipEDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PartnerFILE" class="control-label"></label>
                <input asp-for="PartnerFILE" class="form-control" />
                <span asp-validation-for="PartnerFILE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-success mt-2" /> |
                <a asp-action="Index" class="btn btn-primary mt-2">Back to List</a>
            </div>
            <div>
                
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
