@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="~/images/logo2.png" rel="icon">
    <title>GiveAid</title>
    <link href="~/Admin/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="~/Admin/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="~/Admin/css/ruang-admin.min.css" rel="stylesheet">
</head>

<body id="page-top">
    <div id="wrapper">
        <!-- Sidebar -->
        <ul class="navbar-nav sidebar sidebar-light accordion" id="accordionSidebar">
            <a class="sidebar-brand d-flex align-items-center justify-content-center" asp-action="index" asp-controller="home">
                <div class="sidebar-brand-icon">
                    <h1 style="color:white; font-family:'Comic Sans MS';">Give<span style="color:midnightblue;font-family:cursive;">Aid</span></h1>
                    @* <img src="~/images/logo-front.png" alt="Alternate Text" /> *@
                   @*  <img src="~/Admin/img/logo/logo2.png"> *@
                </div>
               @*  <div class="sidebar-brand-text mx-3">Admin</div> *@
            </a>
            <hr class="sidebar-divider my-0">
            <li class="nav-item active">
                <a class="nav-link" asp-action="index" asp-controller="home">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span>
                </a>
            </li>
           @*  <hr class="sidebar-divider">
            <div class="sidebar-heading">
                Features
            </div> *@

           @*  Contact *@
            @if (SignInManager.IsSignedIn(User))
                                {
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseBootstrap"
                   aria-expanded="true" aria-controls="collapseBootstrap">
                    <i class="far fa-fw fa-window-maximize"></i>
                    <span>Contacts</span>
                </a>
                <div id="collapseBootstrap" class="collapse" aria-labelledby="headingBootstrap" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Contacts</h6> 
                       @*  <a class="collapse-item" asp-action="AddContact" asp-controller="ContactUs">Add</a> *@
                        <a class="collapse-item" asp-action="ViewContact" asp-controller="ContactUs">List</a>
       
                    </div>
                </div>
            </li>
         
            @* Donation *@
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseForm" aria-expanded="true"
                   aria-controls="collapseForm">
                    <i class="fab fa-fw fa-wpforms"></i>
                    <span>Donations</span>
                </a>
                <div id="collapseForm" class="collapse" aria-labelledby="headingForm" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Donations</h6>
                       @*  <a class="collapse-item" asp-action="AddDonation" asp-controller="Donations">Add</a> *@
                        <a class="collapse-item" asp-action="ViewDonations" asp-controller="Donations">List</a>
                    </div>  
                </div>
            </li>

            @* NGOs *@
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTable" aria-expanded="true"
                   aria-controls="collapseTable">
                    <i class="fab fa-fw fa-wpforms"></i>
                    <span>NGOs</span>
                </a>
                <div id="collapseTable" class="collapse" aria-labelledby="headingTable" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">NGOs</h6>
                        <a class="collapse-item" asp-action="AddNGOs" asp-controller="NGOs">Add</a>
                        <a class="collapse-item" asp-action="ViewNGOs" asp-controller="NGOs">List</a>
                       @*  <a class="collapse-item" asp-action="EditNGOs" asp-controller="home">Edit</a> *@
                    </div>
                </div>
            </li>

            @* Partners *@

            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePartner" aria-expanded="true"
                   aria-controls="collapsePartner">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Partners</span>
                </a>
                <div id="collapsePartner" class="collapse" aria-labelledby="headingPartner" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Partners</h6>
                        <a class="collapse-item" asp-action="AddPartners" asp-controller="Partners">Add</a>
                        <a class="collapse-item" asp-action="ViewPartners" asp-controller="Partners">List</a>
                    </div>
                </div>
            </li>

            @* Programmes *@

            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseProgramme" aria-expanded="true"
                   aria-controls="collapseProgramme">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Programmes</span>
                </a>
                <div id="collapseProgramme" class="collapse" aria-labelledby="headingProgramme" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Programmes</h6>
                        <a class="collapse-item" asp-action="AddProgrammes" asp-controller="Programmes">Add</a>
                        <a class="collapse-item" asp-action="ViewProgrammes" asp-controller="Programmes">List</a>
                    </div>
                </div>
            </li>
                                }
           @* <li class="nav-item">
                <a class="nav-link" asp-action="ui_colors" asp-controller="home">
                    <i class="fas fa-fw fa-palette"></i>
                    <span>UI Colors</span>
                </a>
            </li> *@
           @*  <hr class="sidebar-divider"> *@
           @*  <div class="sidebar-heading">
                Examples
            </div> *@

            @* Team *@

         @*    <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTeam" aria-expanded="true"
                   aria-controls="collapseTeam">
                    <i class="fas fa-fw fa-columns"></i>
                    <span>Our Team</span>
                </a>
                <div id="collapseTeam" class="collapse" aria-labelledby="headingTeam" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Our Team</h6>
                        <a class="collapse-item" asp-action="login" asp-controller="web">List</a>
                        <a class="collapse-item" asp-action="register" asp-controller="web">Edit</a>
                         <a class="collapse-item" href="404.html">404 Page</a>
                        <a class="collapse-item" href="blank.html">Blank Page</a> 
                    </div>
                </div>
            </li> *@

            @* Coming Events *@

           @*  <li class="nav-item">
                <a class="nav-link" asp-action="charts" asp-controller="home">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>Upcoming Events</span>
                </a>
                <div id="collapsePage" class="collapse" aria-labelledby="headingPage" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Upcoming Events</h6>
                        <a class="collapse-item" asp-action="AddProgrammes" asp-controller="Programmes">Add</a>
                        <a class="collapse-item" asp-action="ViewProgrammes" asp-controller="Programmes">list</a>
                        <a class="collapse-item" href="404.html">404 Page</a>
                        <a class="collapse-item" href="blank.html">Blank Page</a> 
                    </div>
                </div>
            </li> *@
          @*   <hr class="sidebar-divider">
            <div class="version" id="version-ruangadmin"></div> *@
        </ul>
        <!-- Sidebar -->
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <!-- TopBar -->
                <nav class="navbar navbar-expand navbar-light bg-navbar topbar mb-4 static-top">
                    <button id="sidebarToggleTop" class="btn btn-link rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>
                      @*  <ul class="navbar-nav ml-auto">  *@
                        @*  <div class="topbar-divider d-none d-sm-block"></div>  *@
                        
                           
                   
                    <li class="ml-auto navbar-nav"> <partial name="_LoginPartial" /></li>
                </nav> 
                <!-- Topbar -->

    <div class="container">
        <main role="main" class="pb-3 ">
            @RenderBody()
        </main>
    </div>

                <!-- Footer -->
                <footer class="sticky-footer bg-white">
                   @*  <div class="container my-auto">
                        <div class="copyright text-center my-auto">
                            <span>
                                copyright &copy; <script>document.write(new Date().getFullYear());</script> - developed by
                                <b><a href="https://indrijunanda.gitlab.io/" target="_blank">indrijunanda</a></b>
                            </span>
                        </div>
                    </div> *@

                    <div class="container my-auto py-2">
                        <div class="copyright text-center my-auto">
                            <span>
                                copyright &copy; <script>document.write(new Date().getFullYear());</script> - distributed by
                                <b><a href="https://themewagon.com/" target="_blank">themewagon</a></b>
                            </span>
                        </div>
                    </div>
                </footer>
                <!-- Footer -->
            </div>
        </div>

        <!-- Scroll to top -->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>

        <script src="~/Admin/vendor/jquery/jquery.min.js"></script>
        <script src="~/Admin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="~/Admin/vendor/jquery-easing/jquery.easing.min.js"></script>
        <script src="~/Admin/js/ruang-admin.min.js"></script>
        <script src="~/Admin/vendor/chart.js/Chart.min.js"></script>
        <script src="~/Admin/js/demo/chart-area-demo.js"></script>

        @await RenderSectionAsync("Scripts", required: false)
</body>

</html>

